{% extends 'base.j2' %}

{% block kindblock %}System{% endblock %}

{% block specblock %}
  owner: {{ owner | default('artist-relations-team', true) }}
  {% if domain %}
    domain: {{ domain }}
  {% endif %}
{% endblock %}
